@font-face {
  font-family: "iconfont"; /* Project id 2428646 */
  src: url('iconfont.woff2?t=1620303264507') format('woff2'),
       url('iconfont.woff?t=1620303264507') format('woff'),
       url('iconfont.ttf?t=1620303264507') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gouzhijihua:before {
  content: "\e602";
}

.icon-baofeiguanli:before {
  content: "\e60f";
}

.icon-zulinguanli:before {
  content: "\e612";
}

.icon-xiuliguanli:before {
  content: "\e613";
}

.icon-tishi:before {
  content: "\ed02";
}

.icon-gouwuche:before {
  content: "\f2ae";
}

.icon-xiaoxi1:before {
  content: "\f2bd";
}

.icon-pintuan:before {
  content: "\f2ce";
}

.icon-chaxunrenwu:before {
  content: "\f2f1";
}

.icon-tianjiahaoyou:before {
  content: "\f2f3";
}

.icon-biaodan:before {
  content: "\f2fe";
}

.icon-gonggao:before {
  content: "\f301";
}

.icon-jiancha:before {
  content: "\f32f";
}

.icon-tianjia:before {
  content: "\f332";
}

.icon-beifen:before {
  content: "\f339";
}

.icon-wuzhihuashijianzhouiconjihewanjie1-30-copy-copy:before {
  content: "\e67f";
}

.icon-wuzhihuashijianzhouiconjihewanjie1-29-copy:before {
  content: "\e681";
}

.icon-wuzhihuashijianzhouiconjihewanjie1-15-copy:before {
  content: "\e688";
}

.icon-wuzhihuashijianzhouiconjihewanjie1-14-copy:before {
  content: "\e68b";
}

.icon-baozhang-3:before {
  content: "\e793";
}

.icon-caidan-3:before {
  content: "\e794";
}

.icon-gonglve-3:before {
  content: "\e795";
}

.icon-guochengbaohu-3:before {
  content: "\e796";
}

.icon-jiedianyanshou-3:before {
  content: "\e797";
}

.icon-xiaofeizhe-3:before {
  content: "\e799";
}

.icon-shenpi-3:before {
  content: "\e79a";
}

.icon-zaixianyuyue-3:before {
  content: "\e79b";
}

.icon-yanfang-3:before {
  content: "\e79c";
}

.icon-zhuye-3:before {
  content: "\e79d";
}

.icon-card-machine:before {
  content: "\e606";
}

.icon-shouye:before {
  content: "\e601";
}

.icon-chanpinbaike:before {
  content: "\e603";
}

.icon-guanyuwomen:before {
  content: "\e607";
}

.icon-shezhi:before {
  content: "\e60b";
}

.icon-tuichudenglu:before {
  content: "\e60c";
}

.icon-yiquxiao:before {
  content: "\e610";
}

.icon-zhishichaxun:before {
  content: "\e611";
}

.icon-gongkai:before {
  content: "\e6ce";
}

.icon-geren:before {
  content: "\e6cf";
}

